.header{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding:3vw;
  position: fixed;
  z-index: 2;
  .header__logo{

  }
  .header__nav{
    a{
      padding-left: 20px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}