.teaser__steps{
  
  left:3vw;
  top:30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  

  .steps__scala{
    height:100px;
    border-radius: 2vw;
    width:2px;
    background-color: #efefef;
    position: relative;
    .steps__scala--position{
      transition: all 0.3s;
      position: absolute;
      background-color: #F4B400;
      bottom: 0;
      height:25%;
      width:100%;
    }

  }
  .stes__number{
    margin: 10px;
    font-weight: bold;
  }
  .stes__number--positionMax{
  }
  .stes__number--position{
    transition:all 0.5s;
    font-size: auto;
    &.active{
      animation: scaleNumber 0.5s alternate;
      @keyframes scaleNumber {
        0%{font-size:16px}
        100%{font-size:20px};
      }
    }
  }
}



.teaser{
  margin-right: 3vw;
  margin-left: 20vw;
  
  width:77vw;
  max-width: 1100px;
  @media (min-width: 750px)  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  margin-bottom: 30px;

  .teaser__textbox{
    @media (min-width: 750px)  { 
      margin-top: 90px;
    }
    
    @media (min-width: 750px)  {
      width:28%;
    }
    .teaser__headline,
    .teaser__subheadline{
      text-align: right;
      width: 100%;
      display: block;
    }
    .teaser__headline{
      font-size: 35px;
      font-weight: bold;
      margin-top: 70px;
    }
    .teaser__subheadline{
      font-weight: bold;
      font-size: 19px;
      margin-top: 10px;
      @media (max-width: 749px)  { 
        margin-bottom: 30px;
      }
    }
    .teaser__text{
      margin-top: 70px;
      width:80%;
      @media (max-width: 749px)  { 
        margin-top: 145px;
        width: 80%;
        position: absolute;
      }
    }
  }

  .teaser__imagebox{
    @media (min-width: 750px)  {
      width:70%;
    }
    img{
      width: 100%;
    }
  }

  .teaser__link{
    display: block;
    width:88px;
    height:88px;
    border:0.75px solid #F4B400;
    border-radius: 50%;
    text-align: center;
    line-height: 88px;
    font-size: 14px;
    color: #F4B400;
    font-weight: bold;
    transition: all .5s;
    &:hover{
      background-color: #F4B400;
      color: #fff;
    }
   
    @media (min-width: 750px)  { 
      position: relative;
      left:-130px;
    }
    @media (max-width: 749px)  { 
      margin-top: 70px;
    }
  }

  .image__link{
    &:hover{
      &+.teaser__link{
        background-color: #F4B400;
        color: #fff;
      }
    }
  }
}

.wrapper--teaser{
  height:100vh;
  width:100vw;
  display: flex;
  align-items: flex-end;
	position: relative;
}

.scrollBox{
  width: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; 
  .wrapper--teaser{
    scroll-snap-align: start;
    scroll-behavior: smooth;
  }
}